/* Global Selector */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
   overflow: hidden;
}

body {
    background-color: #ddeaee ;
    color: #42445a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    height: 100vh;
    margin: 0;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    color: #a9b0fcd3;
    font-size: 5rem;
    text-align: center;
    opacity: 0.9;
}

form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 300px;
}

.input {
    border: none;
    color: #444;
    font: 1rem;
    padding: 1em 1em;
    width: 100%;
}

input ::placeholder {
    color: #d5d5d5;
}

input:focus {
    color: #a9b0fcd3;
    outline: none;
}

.todos {
    background-color: white;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todos li {
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
    font-size: 1rem;
    padding: 1em 2em;
}

.todos li.completed {
    color: #b6b6b6;
    text-decoration: line-through;
}

small {
    color: #a9b0fcec;
    margin-top: 3rem;
    text-align: center;
}